<!-- Header -->
<div id="showcase">
    <hr />
    <h1 class="w3-jumbo"><b>Spelling homework</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>What's it all about?</b></h1>
    <hr style="width:50px;border:6px solid red" class="w3-round">
    <ul>
        <li>
            Create spelling homework for your students to complete.
        </li>
        <li>
            Enter whatever words you want, either in English or in other languages
            (supports 30 + languages), and how you want them to be understood.
        </li>
        <li>
            The site will <strong>SPEAK</strong> the words and
            their definitions, for the pupil to spell.
        </li>
        <li>
            Pupils can submit their work for teachers to review.
        </li>
        <li>
            Schools and colleges can fully <strong>self-serve</strong>.
        </li>
        <li>
            Pre-built assignments based on standard curriculum expectations.
        </li>
    </ul>

    <div>
        <p>
            Have a go for yourself
        </p>
    </div>

    <div>
        <button style="margin: 20px;" routerLink="/homework/44735b06-e73a-4733-ae66-12ab13f87a30"
            class="w3-button w3-red w3-padding-large w3-hover-black">
            English Demo
            <img src="/assets/images/ukFlag.png" alt="UK"> 
        </button>
        
        <button style="margin: 20px;" routerLink="/homework/ccfdf685-ce3b-43eb-be34-a348732ed125"
            class="w3-button w3-red w3-padding-large w3-hover-black">
            French Demo
            <img src="/assets/images/frenchFlag.png" alt="UK">
        </button>
    </div>

</div>

<!-- The team -->
<div id="designers" style="margin-top:25px">
    <hr />
    <h1 class="w3-xxxlarge w3-text-red"><b>Who we are.</b></h1>
    <hr style="width:50px;border:6px solid red" class="w3-round">
    <p>
            We are based in Okehampton, Devon.
            We are also parents of children who have receive spelling homework, but without the convenience of 
            an application like this.
    </p>
</div>

<!-- The Team -->

<div class="w3-row-padding w3-grayscale">
    <div class="w3-col m3 w3-margin-bottom">
        <div class="w3-light-grey">
            <img src="/assets/images/team1.jpg" alt="Jane" style="width: 100%;">
            <div class="w3-container">
                <h3>Brendan</h3>
                <p class="w3-opacity">CEO</p>
                <p>
                    I've been developing software for 20 years.
                    My children love using this app, and believe me they are fussy :-)    
                </p>
            </div>
        </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
        <div class="w3-light-grey">
            <img src="/assets/images/team2.jpg" alt="Mike" style="width: 100%;">
            <div class="w3-container">
                <h3>Karen</h3>
                <p class="w3-opacity">Creative Director</p>
                <p>
                    My role has been to ensure a beautiful and easy to use application, with a great user experience.          
                </p>
            </div>
        </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
        <div class="w3-light-grey">
            <img src="/assets/images/team3.jpg" alt="Jane" style="width: 100%;">
            <div class="w3-container">
                <h3>Dave</h3>
                <p class="w3-opacity">Teacher</p>
                <p>
                    Consultative advisor to this project ensuring that teachers can get the best from this app.
                    I full endorse and would recommend this to any school or college
                            
                </p>
            </div>
        </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
        <div class="w3-light-grey">
            <img src="/assets/images/team4.jpg" alt="Mike" style="width: 100%;">
            <div class="w3-container">
                <h3>Simon</h3>
                <p class="w3-opacity">Headteacher</p>
                <p>
                    I have been using this application and have seen a significant increase in the performance of our children and their love for spelling    
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Packages / Pricing Tables -->
<div id="packages" style="margin-top:75px">
    <hr />
    <h1 class="w3-xxxlarge w3-text-red"><b>Packages.</b></h1>
    <hr style="width:50px;border:6px solid red" class="w3-round">
    <p>
        
            Try before you buy - get a free one month trial. You don’t have to sign up to anything just give us a call and we will set you up with an account, easy peasy.
            After that, if you want to continue then choose your subscription option:
            

    </p>
</div>

<div class="w3-row-padding">

    <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">First month FREE</li>
            <li class="w3-padding-16">
                <h2>£ 0</h2>
                <span class="w3-opacity">30 day trial</span>
            </li>
            <li class="w3-padding-16">
                -----------
            </li>
            <li class="w3-padding-16">Create unlimited homework assignments</li>
            <li class="w3-padding-16">View homework submissions</li>
            <li class="w3-padding-16">
                -----------
            </li>
            <!-- <li class="w3-light-grey w3-padding-24">
                <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
            </li> -->
        </ul>
    </div>
    
    <div class="w3-third">
        <ul class="w3-ul w3-light-grey w3-center">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Standard</li>
            <li class="w3-padding-16">
                <h2>£ 125</h2>
                <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-padding-16">Administer staff accounts</li>
            <li class="w3-padding-16">Create unlimited homework assignments</li>
            <li class="w3-padding-16">View homework submissions</li>
            <li class="w3-padding-16">
                -----------
            </li>
            <!-- <li class="w3-light-grey w3-padding-24">
                <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
            </li> -->
        </ul>
    </div>

    <div class="w3-third">
        <ul class="w3-ul w3-light-grey w3-center">
            <li class="w3-red w3-xlarge w3-padding-32">Pro</li>
            <li class="w3-padding-16">
                <h2>£ 150</h2>
                <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-padding-16">Administer staff accounts</li>
            <li class="w3-padding-16">Create unlimited homework assignments</li>
            <li class="w3-padding-16">View homework submissions</li>
            <li class="w3-padding-16">Oxford Dictionary itegration</li>
            <!-- <li class="w3-light-grey w3-padding-24">
                <button class="w3-button w3-red w3-padding-large w3-hover-black">Sign Up</button>
            </li> -->
        </ul>
    </div>
</div>

<app-contactus></app-contactus>