@model IdentityServer.Models.RequestPasswordResetDto

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Password reset
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @if (ViewBag.Submitted == false)
            {
                using (Html.BeginForm("Index", "PasswordRecovery", FormMethod.Post))
                {
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        @Html.TextBoxFor(m => m.Emailaddress, new { @class = "form-control" })
                        @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">*@
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                }

            } else
            {
                <p>An email has been sent for you to reset your password.</p>
                <a href="@ViewBag.ReturnUrl">Return back to the spelling app.</a>
            }
        </div>
    </div>
</div>