@model IdentityServer.Models.RequestPasswordChangeDto

@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Reset Your Password</h2>
<hr />
<p>
    Your new password must have a minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:
</p>
@if (Model.IdentityResult != null && !Model.IdentityResult.Succeeded)
{
<div class="alert alert-danger" role="alert">
    @foreach (var error in Model.IdentityResult.Errors)
    {
        <p>
            @error.Description
        </p>
    }
</div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Emailaddress" class="control-label"></label>
                <input asp-for="Emailaddress" class="form-control" />
                <span asp-validation-for="Emailaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            @Html.HiddenFor(m => m.Token)
        </form>
    </div>
</div>


