<form class="generic-form-full">

    <div [formGroup]="this.userViewmodel.userForm">
        <mat-form-field class="generic-full-width">
            <input matInput placeholder="Firstname" formControlName="firstName">
            <mat-error *ngIf="this.userViewmodel.userForm.get('firstName')!.hasError('required')">
                firstname is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="generic-full-width">
            <input matInput placeholder="Lastname" formControlName="lastName">
            <mat-error *ngIf="this.userViewmodel.userForm.get('lastName')!.hasError('required')">
                lastname is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="generic-full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error
                *ngIf="this.userViewmodel.userForm.get('email')!.hasError('email') && !this.userViewmodel.userForm.get('email')!.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="this.userViewmodel.userForm.get('email')!.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="roleId">
                <mat-option *ngFor="let role of this.userLookupsDto.roles" [value]="role.id">
                {{role.displayName}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="this.userViewmodel.userForm.get('roleId')!.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Colleges</mat-label>
            <mat-select formControlName="collegeIds" multiple>
                <mat-option *ngFor="let college of this.userLookupsDto.colleges" [value]="college.id">
                {{college.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        
    </div>

    <div mat-dialog-actions layout="row">
        <button mat-button (click)="cancel()" color="accent">Cancel</button>
        <span style="flex: 1 1 auto"></span>
        <button mat-button (click)="edit()" color="primary"
            [disabled]="!this.userViewmodel.userForm.valid">Save</button>
    </div>

</form>