<div class="error-text">{{error}}</div>

<button title="Add College" class="add-button" mat-mini-fab color="primary" (click)="addCollege()">
    <i class="material-icons">add</i>
</button>

<h2>Manage colleges</h2>

<div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="collegeName">
            <mat-header-cell *matHeaderCellDef>College</mat-header-cell>
            <mat-cell *matCellDef="let college" [style.flex]="'flex'">
                <div class="college-name">
                    <strong>{{college.collegeName}}</strong>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let college" [style.flex]="'0 0 200px'">
                <div class="action-button-wrapper">
                    <button title="Edit" mat-mini-fab color="primary" class="list-action" (click)="editCollege(college)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button title="Year classes" mat-mini-fab color="primary" class="list-action"  routerLink="/admin/college-yearclass/{{college.id}}">
                        <i class="material-icons">face</i>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
