// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Lato';
}

footer {

  position: fixed;
}

a:active, a:hover {
  color: rgb(85, 26, 139);
  opacity: 0.8;
}
.logo-link {
  text-decoration: none;
  font-weight: bold;
}

.logo-link span {
  font-size: 3rem;
}

.logo-link mat-icon {
  font-size: 3rem;
  float: left;
  margin: -5px 23px 0 0;
}

@media only screen and (max-width: 600px) {
  .logo-link{
    font-size: 1rem;
  }
}

.spelling-logo {
  width: 200px;
  margin: 10px;
}

.navbar-fill {
  flex: 1 1 auto;
}

.action-button-wrapper button,
.action-button-wrapper a {
  margin: 0 8px;
}


.table-container{
  clear: both;
  margin: 20px 0;
}

.generic-form-full {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.generic-full-width {
  width: 100%;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: #f2f2f2;
}