
<form class="generic-form-full">

    <div [formGroup]="this.yearClassViewmodel.yearClassForm">
        <mat-form-field class="generic-full-width">
            <input autocomplete="off" matInput placeholder="Teacher's Name" formControlName="teacherName">
            <mat-error *ngIf="this.yearClassViewmodel.yearClassForm.get('teacherName').hasError('required')">
                Teacher's Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="generic-full-width">
            <input autocomplete="off" matInput placeholder="Year Class Name" formControlName="yearClassName">
            <mat-error *ngIf="this.yearClassViewmodel.yearClassForm.get('yearClassName').hasError('required')">
                Year Class Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <mat-label>Default Word Language</mat-label>
            <mat-select formControlName="defaultWordLanguage">
                <mat-option *ngFor="let language of this.languages" [value]="language.code">
                {{language.displayName}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="this.yearClassViewmodel.yearClassForm.get('defaultWordLanguage').hasError('required')">
                Default Word Language is <strong>required</strong>
            </mat-error>

        </mat-form-field>
        
        <mat-form-field style="width: 100%;">
            <mat-label>Default Sentence Language</mat-label>
            <mat-select formControlName="defaultSentenceLanguage">
                <mat-option *ngFor="let language of this.languages" [value]="language.code">
                {{language.displayName}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="this.yearClassViewmodel.yearClassForm.get('defaultSentenceLanguage').hasError('required')">
                Default Sentence Language is <strong>required</strong>
            </mat-error>

        </mat-form-field>

    </div>

    <mat-dialog-actions>
        <button mat-flat-button (click)="edit()" color="primary"
            [disabled]="!this.yearClassViewmodel.yearClassForm.valid"
            >
            Save
        </button>
        
        <button mat-button (click)="cancel()" color="accent">
            Close
        </button> 
        
    </mat-dialog-actions>

</form>