h3.left {
    float: left;
  }

.grid-container-left{
  display: grid;
  grid-template-columns: 0.8fr .2fr;
  line-height: 40px;  
}

.grid-container-left > div {
  margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 40px;
}

.grid-container > div {
    margin: 10px;
}

.due-date {
  padding-left: 10px;
  line-height: 1rem;
}

.home-work-assignmen-selected {
  background-color: #e7e5e5;
}

.home-work-assignmen-selected:hover {
  background-color: #f2f2f2;
}


  .table-container-scroll {
    max-height: calc(100vh - 28rem);
    overflow-y: auto;
  }

  .hwa-action-buttons {
    display: none;
  }

  .home-work-assignmen-selected .hwa-action-buttons {
    display: block;
  }