<mat-expansion-panel [expanded]="expansionPanelExpanded" (opened)="expansionPanelExpanded = true"
    (closed)="expansionPanelExpanded = false">

    <mat-expansion-panel-header>
        <h3>Selection</h3>
    </mat-expansion-panel-header>

    <div *ngIf="this.collegeOptions.length > 1">
        <h4>Colleges</h4>
        <mat-form-field style="width: 300px;">
            <mat-label>Select a College</mat-label>
            <mat-select [(value)]="selectedCollege" (selectionChange)="collegeSelected()">
                <mat-option *ngFor="let college of this.collegeOptions" [value]="college">
                    {{college.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div *ngIf="this.selectedCollege">

        <button title="Add Year Class" class="upsert-button" mat-mini-fab color="primary" (click)="addYearClass()">
            <i class="material-icons">add</i>
        </button>
        <h4 class="left">Year classes</h4>

        <div style="clear: both; margin: 20px 0 0 0;" *ngIf="this.yearClassOptions.length > 0">

            <div *ngIf="this.selectedYearClass" style="width: auto; float: left;">

                <button title="Edit" mat-mini-fab color="primary" class="upsert-button"
                    (click)="editYearClass(this.selectedYearClass)">
                    <i class="material-icons">edit</i>
                </button>

            </div>

            <mat-form-field style="width: 300px; float: left;">
                <mat-label>Select a Year Class</mat-label>
                <mat-select [(value)]="selectedYearClass" (selectionChange)="this.yearClassSelected(true)">
                    <mat-option *ngFor="let yearClass of this.yearClassOptions" [value]="yearClass">
                        {{yearClass.teacherName}}, {{yearClass.yearClassName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>
    </div>

</mat-expansion-panel>

<div *ngIf="this.selectedCollege" style="margin: 20px 0 0 0;">

    <div style="clear: both;" *ngIf="this.selectedYearClass">
        <button title="Add homework assignment" class="upsert-button" mat-mini-fab color="primary"
            (click)="addHomeWorkAssignment()">
            <i class="material-icons">add</i>
        </button>
        <button title="Add homework assignments from a standard list" class="upsert-button" mat-mini-fab color="primary"
            (click)="addHomeWorkAssignmentsFromList()">
            <i class="material-icons">library_books</i>
        </button>
        <h3 class="left">
            {{this.selectedCollege.displayName}}
            {{this.selectedYearClass.teacherName}}
            {{this.selectedYearClass.yearClassName}}
        </h3>
    </div>

    <div style="clear: both;" *ngIf="homeWorkAssignments.length > 0">

        <div class="grid-container">

            <div class="table-container-scroll mat-elevation-z8_">      

                <div *ngIf="currentHomeWorkAssignment">

                    <h3>Current Homework Assignment</h3>

                    <div class="selectable" (click)="selectHomeWorkAssignment(currentHomeWorkAssignment)"
                        [ngClass]="isHomeWorkAssignmentSelected(currentHomeWorkAssignment.id)">

                        <div class="grid-container-left">

                            <div class="due-date">
                                <strong>
                                    {{currentHomeWorkAssignment.dueDate.format('LL')}}

                                    <small style="padding-left: 30px;">

                                        <span matBadge="{{currentHomeWorkAssignment.countSubmissions}}"
                                            matBadgeSize="small" matBadge="8" matBadgePosition="above after"
                                            matBadgeOverlap="false">Submissions</span>
                                    </small>

                                </strong>

                                <br />

                                <small>
                                    <span *ngIf="currentHomeWorkAssignment.firstWord">
                                        {{currentHomeWorkAssignment.firstWord}}
                                    </span>
                                    <span *ngIf="currentHomeWorkAssignment.lastWord">
                                        - {{currentHomeWorkAssignment.lastWord}}
                                    </span>

                                </small>
                            </div>

                        </div>

                    </div>
                    <hr>
                </div>

                <h3 *ngIf="remainingHomeWorkAssignments.length > 0">
                    <span *ngIf="currentHomeWorkAssignment">Other </span>
                    Homework Assignments
                </h3>

                <div class="selectable" *ngFor="let homeWorkAssignment of remainingHomeWorkAssignments"
                    [ngClass]="isHomeWorkAssignmentSelected(homeWorkAssignment.id)"
                    (click)="selectHomeWorkAssignment(homeWorkAssignment)">

                    <div class="grid-container-left">

                        <div class="due-date">
                            <strong>
                                {{homeWorkAssignment.dueDate.format('LL')}}
                                <small style="padding-left: 30px;">

                                    <span matBadge="{{homeWorkAssignment.countSubmissions}}" matBadgeSize="small"
                                        matBadge="8" matBadgePosition="above after"
                                        matBadgeOverlap="false">Submissions</span>
                                </small>
                            </strong>
                            <br />
                            <small>

                                <span *ngIf="homeWorkAssignment.firstWord">
                                    {{homeWorkAssignment.firstWord}}
                                </span>
                                <span *ngIf="homeWorkAssignment.lastWord">
                                    - {{homeWorkAssignment.lastWord}}
                                </span>

                            </small>
                        </div>

                    </div>

                </div>

            </div>

            <div class="table-container-scroll_" *ngIf="selectedHomeWorkAssignment">

                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [ngModel]="viewMode" value="words">

                    <mat-button-toggle value="words" (click)="viewWords()">
                        <i class="material-icons">assignment</i>
                        Words
                    </mat-button-toggle>

                    <mat-button-toggle value="submissions" (click)="viewSubmissions()">
                        <i class="material-icons">face</i>
                        Submissions
                    </mat-button-toggle>

                </mat-button-toggle-group>

                <div style="float: right;" class="action-button-wrapper">

                    <button mat-mini-fab class="list-action" title="Add word" color="primary"
                        (click)="addHomeWorkAssignmentItem()">
                        <i class="material-icons">add</i>
                    </button>
                    
                    <button mat-mini-fab class="list-action" color="primary" title="Copy homework link"
                        (click)="copyText(getLink(selectedHomeWorkAssignment))">
                        <i class="material-icons">file_copy</i>
                    </button>

                    <button class="list-action" mat-mini-fab [matMenuTriggerFor]="appMenu" color="primary">
                        <i class="material-icons">more_vert</i>
                    </button>

                    <mat-menu #appMenu="matMenu">

                        <button (click)="editHomeWorkAssignment(selectedHomeWorkAssignment)" mat-menu-item
                            color="primary" class="list-action">
                            <i class="material-icons">edit</i>
                            Update due date
                        </button>

                        <button mat-menu-item color="primary" class="list-action"
                            (click)="deleteHomeWorkAssignment(selectedHomeWorkAssignment)">
                            <i class="material-icons">delete</i>
                            Delete assignment
                        </button>

                    </mat-menu>

                </div>

                <div *ngIf="viewMode === 'words'">

                    <h3 class="left">Words for homework due {{selectedHomeWorkAssignment.dueDate.format('LL')}}</h3>

                    <div style="clear: both;" *ngIf="selectedHomeWorkAssignment.homeWorkAssignmentItems.length === 0">
                        No words have been created yet. Please add a word for this assignment.
                    </div>

                    <div style="clear: both;"
                        *ngFor="let homeWorkAssignmentItem of selectedHomeWorkAssignment.homeWorkAssignmentItems">

                        <p>
                            <strong>{{homeWorkAssignmentItem.word}}</strong>
                            "{{homeWorkAssignmentItem.sentence}}"
                            <br />
                            <span class="action-button-wrapper">

                                <button title="Edit" mat-mini-fab color="primary" class="list-action"
                                    (click)="editHomeWorkAssignmentItem(homeWorkAssignmentItem)">
                                    <i class="material-icons">edit</i>
                                </button>

                                <button title="Delete" mat-mini-fab color="primary" class="list-action"
                                    (click)="deleteHomeWorkAssignmentItem(homeWorkAssignmentItem)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </span>
                        </p>

                        <hr />
                    </div>

                </div>

                <div *ngIf="viewMode === 'submissions'">

                    <h3 class="left">Submitted homework for {{selectedHomeWorkAssignment.dueDate.format('LL')}}</h3>

                    <div style="clear: both;" *ngIf="selectedHomeWorkAssignment.submittedHomeWorks.length === 0">
                        There are no submissions yet.
                    </div>
                    <div style="clear: both;" *ngFor="let submission of selectedHomeWorkAssignment.submittedHomeWorks">
                        {{submission.studentName}} &#40;{{submission.score}}&#41;
                        <hr />
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div style="clear: both;" *ngIf="this.selectedYearClass && homeWorkAssignments.length == 0">
            No assignments have been created for this class yet.
    </div>
</div>