<nav>
    <mat-toolbar >
        <!--color="primary"-->
        <a routerLink="/" class="logo-link">
            
            <span>
                <img src="/assets/images/SpellingLogo.svg" alt="Spelling Homework" title="SpellingLogo" class="spelling-logo">
            </span>
        </a>
        <span class="navbar-fill">
            
            <button *ngIf="hasClaims(['AdminisiterColleges'])" mat-button routerLink="/admin/manage-colleges">Colleges</button>
            <button *ngIf="hasClaims(['AdminisiterCollegeUsers'])" mat-button routerLink="/admin/manage-users">Users</button>
            <button *ngIf="hasClaims(['AdminisiterHomework'])" mat-button routerLink="/admin/manage-homework">Homework</button>
        
        </span>
        <span>
            <button *ngIf="!isLoggedIn" mat-button (click)="login()">Login</button>
            <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
        </span>
    </mat-toolbar>
</nav>
<div>
<router-outlet></router-outlet>
</div>