<div style="margin: 30px 0 0 0;">


<div id="audioDiv">
    <audio id="audioVisable">
        <source id="audioSource" type="audio/mpeg" />
    </audio>
</div>


<div *ngIf="this.viewmodel && !isSubmitted">

    <p style="float: right;">
        <button mat-raised-button color="primary" (click)="reset()">
            Restart again
        </button>
    </p>
    
    <h1>{{this.viewmodel.yearClassDisplay}}</h1>
    <h2>Spelling homework due {{this.viewmodel.dueDate.format('ll')}}</h2>
    
    <p>
        In order to use this you must have the sound switched on and loud enough to hear
    </p>

    <h2>Score ({{this.viewmodel.totalScore}})</h2>

    <mat-form-field style="width: 300px;">

        <input id="studentName" autocomplete="off" matInput [(ngModel)]="this.viewmodel.studentName" placeholder="Enter your name"
            cdkFocusInitial required>

    </mat-form-field>

    <div>
        <button [disabled]="!this.submittEnabled()" mat-raised-button color="primary" (click)="submit()">
            Submit your homework
        </button>
    </div>
    
    <div *ngFor="let homeworkItem of this.viewmodel.homeworkItems" class="homework-item"
        [ngClass]="{ 'homework-item-not-attempted': homeworkItem.correctTry === undefined, 'homework-item-correct': homeworkItem.correctTry, 'homework-item-incorrect': homeworkItem.correctTry !== undefined && !homeworkItem.correctTry}">

        <mat-form-field *ngIf="!homeworkItem.correctTry" style="width: 300px;">

            <input
                id="{{homeworkItem.id}}"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                matInput
                [(ngModel)]="homeworkItem.attempt"
                placeholder="Type the word you hear"
                cdkFocusInitial required (keyup.enter)="try(homeworkItem)">

        </mat-form-field>

        <div *ngIf="homeworkItem.correctTry">
            <mat-icon  class="font-massive">check_circle</mat-icon>
            <span class="font-massive" style="padding-left: 30px;">{{homeworkItem.word}}</span>
        </div>

        <div *ngIf="!homeworkItem.correctTry">

            <p class="snapshot-hint">
                <span *ngIf="homeworkItem.snapshotHint" style="padding-right: 20px;">Hint: </span> 
                <span>{{homeworkItem.snapshotHint}}</span>
            </p>

            

            <button *ngIf="homeworkItem.wordAsMp3" [disabled]="soundIsBeingPlayed" mat-stroked-button
                aria-label="Play sound" (click)="playSound(homeworkItem, SpeechTypeEnum.Word)">
                <mat-icon>hearing</mat-icon>
                Word
            </button>

            <button *ngIf="homeworkItem.sentenceAsMp3" [disabled]="soundIsBeingPlayed" mat-stroked-button
                aria-label="Play sound" (click)="playSound(homeworkItem, this.SpeechTypeEnum.Sentence)">
                <mat-icon>hearing</mat-icon>
                Definition
            </button>

            <button mat-raised-button color="primary" (click)="try(homeworkItem)">Try</button>
            
        </div>

    </div>

    <div>
        <button [disabled]="!this.submittEnabled()" mat-raised-button color="primary" (click)="submit()">
            Submit your homework
        </button>
    </div>


</div>

<div *ngIf="isSubmitted">
    <h1>{{this.viewmodel.yearClassDisplay}}</h1>
    <h2>Spelling homework due {{this.viewmodel.dueDate.format('ll')}}</h2>
    
    <h3>
        <mat-icon class="mat-icon-massive">sentiment_satisfied_alt</mat-icon>
        Thank you {{this.viewmodel.studentName}}. Your homework has been submitted
    </h3>
</div>

</div>
