<div class="hightlight-important-box">
        <h4>Helpful information</h4>
        <p>
        In order to use this you
        <span class="hightlight-important-text">must</span>
        have the
        <span class="hightlight-important-text">sound</span>
        switched on and
        <span class="hightlight-important-text">loud</span>
        enough to hear
        <br>
        Enter your name and then try to spell the words below.
        </p>
        
        <p>
                click the
                <button mat-stroked-button aria-label="Play sound">
                        <mat-icon>hearing</mat-icon>
                        Word
                </button> button to hear each word.
        </p>
        <p>
        You can reset your score at anytime using the restart button (top right).
        </p>
</div>