button, a {
  margin-right: 6px;
}

.homework-item {
    padding: 20px;
    margin: 20px 0;
}

.homework-item-incorrect{
    background-color: #f2f2f2;

}

.homework-item-correct{
    background-color: #d1ffdf;

}

.font-massive {
    font-size: 2rem;
}