<form class="generic-form-full">

    <div [formGroup]="this.upsertGenericWordViewmodel.upsertGenericWordForm">

        <mat-form-field class="generic-full-width">
            <input matInput placeholder="Word" formControlName="word">
            <mat-error
                *ngIf="this.upsertGenericWordViewmodel.upsertGenericWordForm.get('word').hasError('required')">
                Word is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="generic-full-width">
            <input matInput placeholder="Sentence" formControlName="sentence">
            <mat-error
                *ngIf="this.upsertGenericWordViewmodel.upsertGenericWordForm.get('sentence').hasError('required')">
                Sentence is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Word Language</mat-label>
            <mat-select formControlName="wordLanguage">
                <mat-option *ngFor="let language of this.languages" [value]="language.code">
                {{language.displayName}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="this.upsertGenericWordViewmodel.upsertGenericWordForm.get('wordLanguage').hasError('required')">
                Word Language is <strong>required</strong>
            </mat-error>

        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Sentence Language</mat-label>
            <mat-select formControlName="sentenceLanguage">
                <mat-option *ngFor="let language of this.languages" [value]="language.code">
                {{language.displayName}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="this.upsertGenericWordViewmodel.upsertGenericWordForm.get('sentenceLanguage').hasError('required')">
                Sentence Language is <strong>required</strong>
            </mat-error>

        </mat-form-field>

    </div>

    <div mat-dialog-actions layout="row">
        <button mat-button (click)="cancel()" color="accent">Cancel</button>
        <span style="flex: 1 1 auto"></span>
        <button mat-button (click)="edit()" color="primary"
            [disabled]="!this.upsertGenericWordViewmodel.upsertGenericWordForm.valid">Save</button>
    </div>

</form>