<h1 class="w3-xxxlarge w3-text-red"><b>Privacy.</b></h1>
<hr style="width:50px;border:6px solid red" class="w3-round">
<p>
    This page gives you information on what personal data we collect, how we use it
    and how we protect this data.
</p>

<p>
    When referring to 'Schools or Colleges', this privacy statement will simplify the term to just 'Schools', 
    but this shall relate to any educational establishment that has been given a subscription to use this 
    application.
</p>

<p>
    Schools using this application are NOT required to provide information about their students or parents.
</p>

<p>
    Schools are required to enter teachers' names for listed classes.
</p>

<p>
    School administrators of the application are required to enter email addresses as login accounts in order to assign
    any access to the system's secured School Administrative Area.
</p>

<p>
    When submitting their work, students are required to enter their name (in any format) so that their submissions can
    be attributed to them. The student's name is only disclosed to the specific users who have access to review that
    school's homework assignments.
</p>

<p>
    A teacher's name, a user login email address and a student's name, are the ONLY 3 bits of personal information we
    retain.

</p>

<p>
    All information is held securely by us and is only used in running the homework programme.

</p>

<p>
    Students will enter their own name on submitting their work.
</p>

<p>
    Teachers names are entered when homework assignments are created. These are only visible to the students who are
    given the specific assignment. Assignments are distributed using a secure URL link. This link can then be included
    in the school's existing systems for pupil / parent communications. Homework assignments are NOT communicated
    directly to pupils or parents through this system.
</p>

<p>
    Login email accounts are created by school administrators when adding new users into the system.

</p>